{% extends 'layout.html' %}
{% block content %}
    <table class="table table-bordered">
        <thead>
        <tr>
            {% for heading in packet_table[0] %}
                <th scope="col"> {{ heading }} </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
            {% for packet in packet_table[1:] %}
                <tr>
                    <th scope="row">{{ packet[0] }}</th>
                    {% for attribute in packet[1:] %}
                        <td>{{ attribute }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}